body {
    background-color: lightblue;
    text-align: center;
}

h1 {
    font-family: verdana;
    font-size: 40px;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.image {
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}

.home {
    float: right;
    margin-right: 400px;
}

.work {
    margin-left: 50px;
    margin-top: 50px;
}

.apps {
    margin-top: 50px;
    margin-right: 50px;
    float: left;
}

#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFEB3B;
    overflow-x: hidden;
}

.loaded #overlay {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#hormenu {
    top: 0;
    left: 0;
    background-color: #FBC02D;
    position: fixed;
    width: 100%;
}

#demo {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 100px;
}

#hormenu ul {
    margin: 0px;
    padding: 0px;
}

#hormenu ul li {
    width: 15%;
    display: table-cell;
    list-style-type: none;
    display: inline-block;
    overflow: hidden;
    font-size: 30px;
}

li a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.4s ease;
}

li a:hover {
    color: #BA68C8;
}

#mycanvas {
    top: 0;
    left: 0;
    right: 0;
    background: #FFEB3B;
    display: block;
    margin: 50px auto;
    z-index: 1001;
}

#hobbies_canvas {
    top: 0;
    left: 0;
    right: 0;
    background: #FFEB3B;
    display: block;
    margin: 50px auto;
    z-index: 1001;
}

h1 {
    font-size: 5rem;
    color: #34495E;
}

.active {
    background: #AB47BC;
    border-bottom: 4px solid #4A148C;
}


/* Sections */

section {
    width: 100%;
    padding: 50px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    height: 600px;
    text-align: center;
}

section:nth-child(even) {
    background: #F3E5F5;
}

section:nth-child(odd) {
    background: #fffeb3;
}

.sections section:first-child {
    margin-top: 60px;
}

section.active {}